In [6]:
import pandas as pd
import numpy as np
from requests import get
from bs4 import BeautifulSoup
import os

import aquire

In [2]:
get_list = aquire.get_articles(['https://codeup.com/codeups-data-science-career-accelerator-is-here/',\
                     'https://codeup.com/data-science-myths/',\
                     'https://codeup.com/data-science-vs-data-analytics-whats-the-difference/',\
                     'https://codeup.com/10-tips-to-crush-it-at-the-sa-tech-job-fair/',\
                     'https://codeup.com/competitor-bootcamps-are-closing-is-the-model-in-danger/'])

In [4]:
get_blog = aquire.get_blog_articles(['business', 'sports', 'technology', 'entertainment'])

In [7]:
df1 = pd.DataFrame()

In [8]:
df1 = pd.DataFrame(get_list)

In [9]:
df1

,title,content
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...
1,Data Science Myths,By Dimitri Antoniou and Maggie Giust\nData Sci...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri Antoniou\nA week ago, Codeup launch..."
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job Fair\nThe third bi-annual San Anto...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...

In [10]:
df2 = pd.DataFrame(get_blog)

In [11]:
df2

,Title,Content,Category
0,China's ex-teacher turned billionaire no more ...,"China's Larry Chen, a former teacher who becam...",business
1,Amazon job posting fuels speculations about pl...,A new job posting by Amazon has fuelled specul...,business
2,"Musk takes a jibe at rival car companies, says...",Tesla CEO and the world's second-richest perso...,business
3,"Unemployment rate rises in both urban, rural a...",India's unemployment rate soared to 7.14% in t...,business
4,Govt paid Infosys ₹164.5 crore for new Income ...,The government paid ₹164.5 crore to Infosys to...,business
...,...,...,...
92,With her I never felt out of place: Rohit Sara...,Recalling the time of promotions of his film '...,entertainment
93,I laugh it off: Dilip on rumours about tiff be...,Reacting to rumours about a tiff between the c...,entertainment
94,Shooting 'LOC: Kargil' was very touching: Sanj...,"On the occasion of Kargil Vijay Diwas, actor S...",entertainment
95,Guru Randhawa to make his debut as an actor in...,Singer Guru Randhawa will make his debut as an...,entertainment
96,I was shocked: Jugal Hansraj on replacing Saif...,"Actor Jugal Hansraj, who starred with actress ...",entertainment