In [1]:
import pandas as pd
import numpy as np
from requests import get
from bs4 import BeautifulSoup
import os

import aquire, prepare

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/xaviercarter/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [7]:
df['message_length'] = df.text.apply(len)

In [2]:
get_list = aquire.get_articles(['https://codeup.com/codeups-data-science-career-accelerator-is-here/',\
                     'https://codeup.com/data-science-myths/',\
                     'https://codeup.com/data-science-vs-data-analytics-whats-the-difference/',\
                     'https://codeup.com/10-tips-to-crush-it-at-the-sa-tech-job-fair/',\
                     'https://codeup.com/competitor-bootcamps-are-closing-is-the-model-in-danger/'])

In [3]:
get_blog = aquire.get_blog_articles(['business', 'sports', 'technology', 'entertainment'])

In [4]:
df1 = pd.DataFrame()

In [5]:
df1 = pd.DataFrame(get_list)

In [6]:
df1

,title,content
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...
1,Data Science Myths,By Dimitri Antoniou and Maggie Giust\nData Sci...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri Antoniou\nA week ago, Codeup launch..."
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job Fair\nThe third bi-annual San Anto...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...

In [7]:
df2 = pd.DataFrame(get_blog)

In [8]:
df2

,Title,Content,Category
0,China's ex-teacher turned billionaire no more ...,"China's Larry Chen, a former teacher who becam...",business
1,Amazon job posting fuels speculations about pl...,A new job posting by Amazon has fuelled specul...,business
2,"Musk takes a jibe at rival car companies, says...",Tesla CEO and the world's second-richest perso...,business
3,Mahua Moitra writes to FM to look into 'over-i...,Lok Sabha MP Mahua Moitra has shared a letter ...,business
4,"Unemployment rate rises in both urban, rural a...",India's unemployment rate soared to 7.14% in t...,business
...,...,...,...
92,I consider myself lucky that I got to play Vi...,Actor Sidharth Malhotra spoke about his movie ...,entertainment
93,I laugh it off: Dilip on rumours about tiff be...,Reacting to rumours about a tiff between the c...,entertainment
94,Guru Randhawa to make his debut as an actor in...,Singer Guru Randhawa will make his debut as an...,entertainment
95,"I'm dyslexic, I couldn't express myself fully:...","During a recent interview, actor Saurabh Sachd...",entertainment
96,My journey in Indian cinema has been musical a...,"Speaking about his journey in Indian cinema, a...",entertainment

In [9]:
basic_clean = prepare.basic_clean(df2.Content[0])

In [10]:
token_string = prepare.tokenize_string(basic_clean)

In [11]:
stemmed_string = prepare.stem_string(token_string)

In [12]:
lemmented_string = prepare.lemmatize_string(stemmed_string)

In [14]:
removed_stop_words= prepare.adjust_stopwords(lemmented_string)

Removed 17 stopwords
---

In [15]:
removed_stop_words

"china ' larri chen former teacher becam billionair edtech compani gaotu techedu lost hi billionair statu hi compani ' share fell 98 chen gaotu techedu ' founder ceo worth 336 million accord bloomberg develop come china ' new regul ban compani teach school curriculum make profit rais capit go public"

In [34]:
news_df  = pd.DataFrame()
news_df['Title'] = df2.Title
news_df['Original'] = df2.Content
news_df['Clean'] = df2.Content.apply(prepare.basic_clean)
news_df['tokenize'] = news_df['Clean'].apply(prepare.tokenize_string)
news_df['stemmed'] = news_df['tokenize'].apply(prepare.stem_string)
news_df['lemmatize'] = news_df['stemmed'].apply(prepare.lemmatize_string)

In [35]:
news_df

,Title,Original,Clean,tokenize,stemmed,lemmatize
0,China's ex-teacher turned billionaire no more ...,"China's Larry Chen, a former teacher who becam...",china's larry chen a former teacher who became...,china ' s larry chen a former teacher who beca...,china ' s larri chen a former teacher who beca...,china ' s larri chen a former teacher who beca...
1,Amazon job posting fuels speculations about pl...,A new job posting by Amazon has fuelled specul...,a new job posting by amazon has fuelled specul...,a new job posting by amazon has fuelled specul...,a new job post by amazon ha fuell specul that ...,a new job post by amazon ha fuell specul that ...
2,"Musk takes a jibe at rival car companies, says...",Tesla CEO and the world's second-richest perso...,tesla ceo and the world's secondrichest person...,tesla ceo and the world ' s secondrichest pers...,tesla ceo and the world ' s secondrichest pers...,tesla ceo and the world ' s secondrichest pers...
3,Mahua Moitra writes to FM to look into 'over-i...,Lok Sabha MP Mahua Moitra has shared a letter ...,lok sabha mp mahua moitra has shared a letter ...,lok sabha mp mahua moitra has shared a letter ...,lok sabha mp mahua moitra ha share a letter sh...,lok sabha mp mahua moitra ha share a letter sh...
4,"Unemployment rate rises in both urban, rural a...",India's unemployment rate soared to 7.14% in t...,india's unemployment rate soared to 714 in the...,india ' s unemployment rate soared to 714 in t...,india ' s unemploy rate soar to 714 in the wee...,india ' s unemploy rate soar to 714 in the wee...
...,...,...,...,...,...,...
92,I consider myself lucky that I got to play Vi...,Actor Sidharth Malhotra spoke about his movie ...,actor sidharth malhotra spoke about his movie ...,actor sidharth malhotra spoke about his movie ...,actor sidharth malhotra spoke about hi movi ' ...,actor sidharth malhotra spoke about hi movi ' ...
93,I laugh it off: Dilip on rumours about tiff be...,Reacting to rumours about a tiff between the c...,reacting to rumours about a tiff between the c...,reacting to rumours about a tiff between the c...,react to rumour about a tiff between the cast ...,react to rumour about a tiff between the cast ...
94,Guru Randhawa to make his debut as an actor in...,Singer Guru Randhawa will make his debut as an...,singer guru randhawa will make his debut as an...,singer guru randhawa will make his debut as an...,singer guru randhawa will make hi debut as an ...,singer guru randhawa will make hi debut a an a...
95,"I'm dyslexic, I couldn't express myself fully:...","During a recent interview, actor Saurabh Sachd...",during a recent interview actor saurabh sachde...,during a recent interview actor saurabh sachde...,dure a recent interview actor saurabh sachdeva...,dure a recent interview actor saurabh sachdeva...
96,My journey in Indian cinema has been musical a...,"Speaking about his journey in Indian cinema, a...",speaking about his journey in indian cinema ac...,speaking about his journey in indian cinema ac...,speak about hi journey in indian cinema actor ...,speak about hi journey in indian cinema actor ...

In [39]:
blog_df  = pd.DataFrame()
blog_df['Title'] = df1.title
blog_df['Original'] = df1.content
blog_df['Clean'] = df1.content.apply(prepare.basic_clean)
blog_df['tokenize'] = blog_df['Clean'].apply(prepare.tokenize_string)
blog_df['stemmed'] = blog_df['tokenize'].apply(prepare.stem_string)
blog_df['lemmatize'] = blog_df['stemmed'].apply(prepare.lemmatize_string)

In [40]:
blog_df

,Title,Original,Clean,tokenize,stemmed,lemmatize
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,the rumors are true the time has arrived codeu...,the rumors are true the time has arrived codeu...,the rumor are true the time ha arriv codeup ha...,the rumor are true the time ha arriv codeup ha...
1,Data Science Myths,By Dimitri Antoniou and Maggie Giust\nData Sci...,by dimitri antoniou and maggie giust\ndata sci...,by dimitri antoniou and maggie giust\ndata sci...,by dimitri antoni and maggi giust data scienc ...,by dimitri antoni and maggi giust data scienc ...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri Antoniou\nA week ago, Codeup launch...",by dimitri antoniou\na week ago codeup launche...,by dimitri antoniou\na week ago codeup launche...,by dimitri antoni a week ago codeup launch our...,by dimitri antoni a week ago codeup launch our...
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job Fair\nThe third bi-annual San Anto...,sa tech job fair\nthe third biannual san anton...,sa tech job fair\nthe third biannual san anton...,sa tech job fair the third biannual san antoni...,sa tech job fair the third biannual san antoni...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,competitor bootcamps are closing is the model ...,competitor bootcamps are closing is the model ...,competitor bootcamp are close is the model in ...,competitor bootcamp are close is the model in ...

In [41]:
#9 Lemmatize is more computationally expensive, thus should be done on smaller datasets
# stemming is less computationally expensive , thus is better for larger data sets
# you should use stemmed for larger datasets and lemmatize for smaller datasets